
@{
    ViewBag.Title = "Wyslano";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gratulacje! Udało Ci się wysłać wiadomość!</h2>
<p><a class="btn btn-default" href='@Url.Action("Index", "Home")'>&laquo; Wróć do strony głównej</a></p>

