
@{
    ViewBag.Title = "Firma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron3">
    <h2></h2>
    <p class="lead2">
    </p>
</div>

<div class="row">
    <div class="font-size: 16px;">
        <p class="opis">
            Poszu­ku­je­cie Państwo kom­pe­tent­nych i wia­ry­god­nych pracowników? Chcecie roz­bu­do­wać zespoł? Dzięki usłudze pośrednictwa pracy, bły­ska­wicz­nie pozy­skacie Państwo potrzeb­nych pra­cow­ni­ków. Poza rekru­ta­cją pra­cow­ni­ków czy ela­stycz­nymi for­mami zatrud­nie­nia (praca tym­cza­sowa, leasing, out­so­ur­cing), w JobProfit słu­żymy naszym Klien­tom wspar­ciem i pomocą w wybo­rze naj­lep­szych rozwiązań.
            A dla kan­dy­da­tów... pośrednictwo pracy to łatwy dostęp do dużej liczby ofert. W JobProfit zapew­niamy kom­plek­sową infor­ma­cję zwrotną, pełne wspar­cie i kon­sul­ta­cje.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Home")'>Wróć &raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
</div>
