
@{
    ViewBag.Title = "Kursy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron2">
    <h2>Kursy</h2>
    <p class="lead2">
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dowiedz się więcej</h2>
        <p>
            JobProfit świadczy swoje usługi na terenie całej polski i wybranych krajów UE. Błyskawicznie reagujemy na potrzeby Klientów, jesteśmy zawsze blisko nich i wspieramy ich codzienne działania.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Firma", "About")'>Sprawdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Szkolenia i kursy</h2>
        <p>W Agencji Pośrednictwa pracy JobProfit masz możliwość wyboru dowolnego miejsca szkolenia! Podłącz się zdalnie i uczestnicz na żywo w dowolnym organizowanym przez nas szkoleniu dzięki JOBconnect.</p>
        <p><a class="btn btn-default" href='@Url.Action("Kursy", "About")'>Sprawdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kontakt z nami</h2>
        <p>
            JobProfit S.A. <br />
            ul. Ostrowskiego 9 <br />
            53-238 Warszawa<br />
            NIP: 897-16-52-554<br />
            REGON: 932281575<br />
            KRS: 0000055057.
        </p>
    </div>
</div>
