
@{
    ViewBag.Title = "Kursy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron2">
    <h2></h2>
    <p class="lead2">
    </p>
</div>

<div class="row">
    <div class="">
        <h2>Zasady organizacji szkoleń i kursów</h2>
        <p class="opis">
            Szkolenia personalne to zorganizowany proces nauczania, który stanowi nieodzowny warunek rozwoju każdej osoby oraz firmy. W procesie tym dąży się do optymalnego wykorzystania zasobów jednostek, takich jak ich zdolności i wydajność, poprzez ich celowe doskonalenie. Szkolenia polegają zazwyczaj na przekazywaniu wiedzy niezbędnej do podniesienia kwalifikacji poszczególnych osób w dziedzinie, którą się zajmują.
            <br />
            Szkolenia składają się z wielu części. Mimo, że często tylko niektóre z nich są dostrzegane przez jego uczestników, każda z nich odgrywa dużą rolę w efektywnym przeprowadzaniu procesu nauczania.  Szkolenia zwykle obejmują takie etapy jak:
            <ul class="opis">
                <li>Określenie wstępnych oczekiwań i oferty,</li>
                <li>Identyfikacja i analiza potrzeb szkoleniowych,</li>
                <li>Określenie celów szkolenia,</li>
                <li>Przygotowanie programu szkolenia,</li>
                <li>Przeprowadzenie szkolenia,</li>
                <li>Monitorowanie i ocena efektów szkolenia,</li>
                <li>Analiza i podsumowanie całego procesu szkoleniowego.</li>
            </ul>
            <hr />
            <p class="opis">
            Zadaniem szkoleń jest skuteczne przekazanie jego uczestnikom wiedzy i umiejętności przydatnych w wykonywanej przez nich pracy. Dlatego szkolenia mają specyficzny charakter, który umożliwia efektywne wykorzystanie czasu i środków zainwestowanych w proces nauczania. Skuteczne szkolenie posiada następujące cechy i elementy:
            <p>
            <ul class="opis">
                <li>Uświadamianie uczestnikom postępów, jakie robią,</li>
                <li>Kontrola procesu szkolenia przez trenera,</li>
                <li>Motywowanie uczestników do aktywności i pełnego udziału w szkoleniu,</li>
                <li>Zachęcanie uczestników do analizy problemów i zadań, z którymi zetkną się w pracy,</li>
                <li>Umożliwianie wykorzystania i zastosowania zdobytej wiedzy w praktyce,</li>
                <li>Ciekawa i urozmaicona forma zajęć,</li>
                <li>Skondensowana w czasie i intensywna nauka.</li>
            </ul>                                
        </ul>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Home")'>&laquo; Wróć</a></p>
    </div>

</div>
