@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JobProfit</h1>
    <p class="lead">JobProfit świadczy swoje usługi na terenie całej polski i wybranych krajów UE. Błyskawicznie reagujemy na potrzeby Klientów, jesteśmy zawsze blisko nich i wspieramy ich codzienne działania. Kandydatom zapewniamy dostęp do największego rynku pracy w Polsce .</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dowiedz się więcej</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Sprawdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Szkolenia i kursy</h2>
        <p>W Agencji Pośrednictwa pracy JobProfit masz możliwość wyboru dowolnego miejsca szkolenia! Podłącz się zdalnie i uczestnicz na żywo w dowolnym organizowanym przez nas szkoleniu dzięki JOBconnect.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Sprawdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kontakt z nami</h2>
        <p>JobProfit S.A. <br/>
            ul. Ostrowskiego 9 <br />
            53-238 Warszawa<br />
            NIP: 897-16-52-554<br />
            REGON: 932281575<br />
            KRS: 0000055057.</p>        
    </div>
</div>