
@{
    ViewBag.Title = "StworzCV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stwórz własne CV</h2>
<iframe width="560"
        height="315"
        src="http://www.youtube.com/embed/VeRVXdK_V54"
        frameborder="0"
        allowfullscreen></iframe>

